[run]
data_file = reports/.coverage
source = qualtricssurvey
branch = true

[report]
ignore_errors = True

[html]
title = QualtricsSurvey Python Test Coverage Report
directory = reports/cover

[xml]
output = reports/coverage.xml
